@import "compass/css3/box-sizing";
@import "compass/css3/transform";

* {
    @include box-sizing(border-box);
}

html,
body {
    position: relative;
    height: 100%;
    width: 100%;
    overflow: hidden;
    padding: 0;
    margin: 0;
}

#modal {
    max-height: 90%;
    height: auto;

    overflow: hidden;

    width: 50rem;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: 0 auto;

    @include transform(translate(-50%, -50%));
}

#header {
    height: 2rem;
    width: 100%;
    background: yellow;
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
}

#section {
    position: relative;
    padding-top: 2rem;
    height: 100%;
    background: pink;
    overflow: hidden;
}

#directive {
    -webkit-overflow-scrolling: touch;
    height: 100%;
    overflow: auto;
    background: red;
}
